<section id="reviews" class="reviews">
  <div class="container reviews-container">
    <div class="reviews-title">
      <h2 class="reviews-subtitle">
        reviews from our <span class="reviews-subtitle-accent">customers</span>
      </h2>
      <p class="reviews-text">
        Words of our customers: impressions and opinions about the quality of
        our services and the freshness of our products.
      </p>
    </div>
    <ul class="reviews-list">
      <li class="reviews-item">
        <img
          class="reviews-pic"
          srcset="./img/rewiew/john.webp 1x, ./img/rewiew/john@2x.webp 2x"
          src="./img/rewiew/john.webp"
          alt="John Wax"
          width="56"
          height="56"
        />
        <div class="reviews-card-content">
          <h3 class="reviews-card-name">John Wax</h3>
          <p class="reviews-card-text">
            These vegetables are my secret to delicious and healthy meals. The
            quality is always at the highest level, the aroma and taste are
            enchanting. I advise every fan of real products!
          </p>
        </div>
      </li>
      <li class="reviews-item second">
        <img
          class="reviews-pic"
          srcset="./img/rewiew/victoria.webp 1x, ./img/rewiew/victoria@2x.webp 2x"
          src="./img/rewiew/victoria.webp"
          alt="Victoria Romashenko"
          width="56"
          height="56"
        />
        <div class="reviews-card-content">
          <h3 class="reviews-card-name">Victoria Romashenko</h3>
          <p class="reviews-card-text">
            I love how fast and fresh the vegetables are delivered. Salads
            always turn out so appetizing, and soups are real masterpieces. The
            quality is impeccable!
          </p>
        </div>
      </li>
      <li class="reviews-item third">
        <img
          class="reviews-pic"
          srcset="./img/rewiew/igor.webp 1x, ./img/rewiew/igor@2x.webp 2x"
          src="./img/rewiew/igor.webp"
          alt="Ihor Trachuk"
          width="56"
          height="56"
        />
        <div class="reviews-card-content">
          <h3 class="reviews-card-name">Ihor Trachuk</h3>
          <p class="reviews-card-text">
            Recently tried my fresh tomatoes and peppers - amazing! The
            authenticity of the taste, as if from the garden directly to my
            table. It is now my main vegetable supplier.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
