<section id="vegetables" class="vegetables-section">
  <div class="container vegetables-section-container">
    <h2 class="vegetables-header">
      organic <span class="vegetables-header-span">vegetables</span>
    </h2>
    <p class="vegetables-text">
      Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get the freshest and most
      nutritious produce possible.
    </p>
    <ul class="vegetables-list">
      <li class="vegetables-list-item">
        <div>
          <h3 class="vegetables-list-header">eggplant</h3>
          <p class="vegetables-list-text">60 USD / kg</p>
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./img/vegetables/eggplant-des.webp      1x,
                ./img/vegetables2x/eggplant-des@2x.webp 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/vegetables/eggplant-tab.webp      1x,
                ./img/vegetables2x/eggplant-tab@2x.webp 2x
              "
            />
            <source
              media="(min-width: 375px)"
              srcset="
                ./img/vegetables/eggplant-mob.webp      1x,
                ./img/vegetables2x/eggplant-mob@2x.webp 2x
              "
            />
            <img
              class="vegetables-list-img"
              src="./img/vegetables/eggplant-des.webp"
              width="280"
              height="244"
              alt="Photo of eggplant"
            />
          </picture>
        </div>
      </li>
      <li class="vegetables-list-item">
        <h3 class="vegetables-list-header">leek</h3>
        <p class="vegetables-list-text">50 USD / kg</p>
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/vegetables/onion-des.webp      1x,
              ./img/vegetables2x/onion-des@2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/vegetables/onion-tab.webp      1x,
              ./img/vegetables2x/onion-tab@2x.webp 2x
            "
          />
          <source
            media="(min-width: 375px)"
            srcset="
              ./img/vegetables/onion-mob.webp      1x,
              ./img/vegetables2x/onion-mob@2x.webp 2x
            "
          />
          <img
            class="vegetables-list-img"
            src="./img/vegetables/onion-des.webp"
            width="280"
            height="244"
            alt="Photo of onion"
          />
        </picture>
      </li>
      <li class="vegetables-list-item">
        <h3 class="vegetables-list-header">mushrooms</h3>
        <p class="vegetables-list-text">40 USD / kg</p>
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/vegetables/mushrooms-des.webp      1x,
              ./img/vegetables2x/mushrooms-des@2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/vegetables/mushrooms-tab.webp      1x,
              ./img/vegetables2x/mushrooms-tab@2x.webp 2x
            "
          />
          <source
            media="(min-width: 375px)"
            srcset="
              ./img/vegetables/mushrooms-mob.webp      1x,
              ./img/vegetables2x/mushrooms-mob@2x.webp 2x
            "
          />
          <img
            class="vegetables-list-img"
            src="./img/vegetables/mushrooms-des.webp"
            width="280"
            height="244"
            alt="Photo of mushrooms"
          />
        </picture>
      </li>
      <li class="vegetables-list-item">
        <h3 class="vegetables-list-header">corn</h3>
        <p class="vegetables-list-text">60 USD / kg</p>
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/vegetables/corn-des.webp      1x,
              ./img/vegetables2x/corn-des@2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/vegetables/corn-tab.webp      1x,
              ./img/vegetables2x/corn-tab@2x.webp 2x
            "
          />
          <source
            media="(min-width: 375px)"
            srcset="
              ./img/vegetables/corn-mob.webp      1x,
              ./img/vegetables2x/corn-mob@2x.webp 2x
            "
          />
          <img
            class="vegetables-list-img"
            src="./img/vegetables/corn-des.webp"
            width="280"
            height="244"
            alt="Photo of corn"
          />
        </picture>
      </li>
      <li class="vegetables-list-item">
        <h3 class="vegetables-list-header">sweet potatoes</h3>
        <p class="vegetables-list-text">50 USD / kg</p>
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/vegetables/potatoes-des.webp      1x,
              ./img/vegetables2x/potatoes-des@2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/vegetables/potatoes-tab.webp      1x,
              ./img/vegetables2x/potatoes-tab@2x.webp 2x
            "
          />
          <source
            media="(min-width: 375px)"
            srcset="
              ./img/vegetables/potatoes-mob.webp      1x,
              ./img/vegetables2x/potatoes-mob@2x.webp 2x
            "
          />
          <img
            class="vegetables-list-img"
            src="./img/vegetables/potatoes-des.webp"
            width="280"
            height="244"
            alt="Photo of  potatoes"
          />
        </picture>
      </li>
      <li class="vegetables-list-item">
        <h3 class="vegetables-list-header">carrot</h3>
        <p class="vegetables-list-text">40 USD / kg</p>
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/vegetables/carrot-des.webp      1x,
              ./img/vegetables2x/carrot-des@2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/vegetables/carrot-tab.webp      1x,
              ./img/vegetables2x/carrot-tab@2x.webp 2x
            "
          />
          <source
            media="(min-width: 375px)"
            srcset="
              ./img/vegetables/carrot-mob.webp      1x,
              ./img/vegetables2x/carrot-mob@2x.webp 2x
            "
          />
          <img
            class="vegetables-list-img"
            src="./img/vegetables/carrot-des.webp"
            width="280"
            height="244"
            alt="Photo of carrot"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
