<section class="your-order">
  <div class="container">
    <div class="header-wrapp">
      <h2 class="your-order-header">
        fresh <span class="order-header-part">harvest</span> box has got you
        covered
      </h2>
      <p class="your-order-text">
        Our boxes are packed with delicious, nutritious vegetables, perfect for
        anyone looking to eat healthier or support local farmers. Order your box
        today and start enjoying the best that nature has to offer!
      </p>
    </div>
    <div id="form" class="wrap">
      <div class="order-form-wrapp">
        <form class="order-form">
          <h3 class="order-form-header">
            Ordering <span class="order-form-onp">from us</span> is quick and
            easy! fill out <span class="order-form-twp">the form</span> below
            and we will contact you !
          </h3>
          <div class="order-form-cont">
            <div class="label-wrapp">
              <div class="label-cont">
                <label class="order-form-lable" for="name"></label>
                <input
                  class="order-form-inp order-form-inp-name"
                  type="text"
                  placeholder="Full Name"
                  id="name"
                  name="Name"
                  pattern="^[A-Z][a-z]+(?:\s[A-Z][a-z]+)?$"
                  required
                />
                <p class="text-valid-name">Succes!</p>
                <p class="text-invalid-name">
                  Enter a valid full name with first letter capitalized
                </p>
              </div>
              <div class="label-cont">
                <label class="order-form-lable" for="email"></label>
                <input
                  class="order-form-inp"
                  type="email"
                  placeholder="Email"
                  name="Email"
                  id="email"
                  pattern="([A-Za-z0-9_.-]+)@([A-Za-z0-9_.-]+)\.([A-Za-z]{2,8})"
                  required
                />
                <p class="text-valid">Succes!</p>
                <p class="text-invalid">Invalid email, try again</p>
              </div>
              <label class="order-textarea-wrapp">
                <textarea
                  class="order-form-textarea"
                  name="Comment"
                  placeholder="Comment"
                ></textarea>
              </label>
            </div>
            <button class="order-form-button" aria-label="Send" type="submit">
              send
            </button>
          </div>
        </form>
      </div>
      <div class="networks-wrapp">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/yourorder/fresh-des.webp    1x,
              ./img/yourorder/fresh-des@2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/yourorder/fresh-tab.webp    1x,
              ./img/yourorder/fresh-tab@2x.webp 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/yourorder/fresh-mob.webp    1x,
              ./img/yourorder/fresh-mob@2x.webp 2x
            "
          />
          <img
            class="networks-wrapp-img"
            src="./img/yourorder/fresh-des.webp"
            alt="squeeze lemon juice into a bottle"
          />
        </picture>

        <div class="networks-list-wrapp">
          <p class="networks-link-text">Follow us on our social networks:</p>
          <ul class="networks">
            <li class="networks-link">
              <a
                class="networks-link-link"
                href="https://www.instagram.com/goitclub/"
                target="_blank"
                rel="noopener noreferrer"
                >instagram</a
              >
            </li>
            <li>
              <span class="link-slash">/</span>
            </li>
            <li class="networks-link">
              <a
                class="networks-link-link"
                href="https://www.youtube.com/c/GoIT"
                target="_blank"
                rel="noopener noreferrer"
                >youtube</a
              >
            </li>
            <li>
              <span class="link-slash">/</span>
            </li>
            <li class="networks-link">
              <a
                class="networks-link-link"
                href="https://www.facebook.com/goITclub/"
                target="_blank"
                rel="noopener noreferrer"
                >facebook</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
